In [ ]:
# In this task we have to find the students scores based on their study hours. 
# This is a simple Regression problem type because it has only two variables.

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/StudentHoursScores.csv')
df

    Hours  Scores
0     7.7      79
1     5.9      60
2     4.5      45
3     3.3      33
4     1.1      12
5     8.9      87
6     2.5      21
7     1.9      19
8     2.7      29
9     8.3      81
10    5.5      58
11    9.2      88
12    1.5      14
13    3.5      34
14    8.5      85
15    3.2      32
16    6.5      66
17    2.5      21
18    9.6      96
19    4.3      42
20    4.1      40
21    3.0      30
22    2.6      25

In [ ]:
df.corr()

           Hours    Scores
Hours   1.000000  0.997656
Scores  0.997656  1.000000

In [ ]:
df.describe()

           Hours     Scores
count  23.000000  23.000000
mean    4.817391  47.695652
std     2.709688  27.103228
min     1.100000  12.000000
25%     2.650000  27.000000
50%     4.100000  40.000000
75%     7.100000  72.500000
max     9.600000  96.000000

In [ ]:
x = df.iloc[:,0:-1]
y = df.iloc[:,-1]

In [ ]:
print(x,'\n')
print(y,'\n')
print(x.shape, y.shape)

    Hours
0     7.7
1     5.9
2     4.5
3     3.3
4     1.1
5     8.9
6     2.5
7     1.9
8     2.7
9     8.3
10    5.5
11    9.2
12    1.5
13    3.5
14    8.5
15    3.2
16    6.5
17    2.5
18    9.6
19    4.3
20    4.1
21    3.0
22    2.6

0     79
1     60
2     45
3     33
4     12
5     87
6     21
7     19
8     29
9     81
10    58
11    88
12    14
13    34
14    85
15    32
16    66
17    21
18    96
19    42
20    40
21    30
22    25
Name: Scores, dtype: int64

(23, 1) (23,)

In [ ]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=.5,random_state=1)
print(x_train.shape, x_test.shape)
print(y_train.shape, y_test.shape)

(11, 1) (12, 1)
(11,) (12,)

In [ ]:
from sklearn.linear_model import LinearRegression

std_model  = LinearRegression()
std_model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_pred = std_model.predict(x_test)

print(y_pred)
print(y_test)
print(x_test)

[40.88448752 25.24832779 33.06640766 35.02092762 42.83900749 64.33872712
 54.56612729 11.56668803 44.79352746 94.6337866  25.24832779 19.38476789]
20    40
17    21
3     33
13    34
19    42
16    66
10    58
4     12
2     45
18    96
6     21
7     19
Name: Scores, dtype: int64
    Hours
20    4.1
17    2.5
3     3.3
13    3.5
19    4.3
16    6.5
10    5.5
4     1.1
2     4.5
18    9.6
6     2.5
7     1.9

In [ ]:
print(std_model.coef_)
print(std_model.intercept_)

from sklearn.metrics import r2_score, mean_squared_error

print("accuracy is: ", r2_score(y_test,y_pred))
print(mean_squared_error(y_test,y_pred))

[9.77259983]
0.816828213241493
accuracy is:  0.9910501269527661
4.618818163230512

In [ ]:
vif = 1/1-(r2_score(y_test,y_pred))
vif

0.008949873047233936